body { background: url(1579418974_1-2.jpg);
		background-attachment: fixed; 
		font-family: font-family: Roboto Condensed;
		font-size: 30px;
		color: #FFC0CB;
		text-align: left;
	text-shadow: 2px 2px 3px #B0E0E6;}

table{
	margin: auto;
}
